text {
    text-anchor: middle;
    font: 10px sans-serif;
    pointer-events: none;
    opacity: 0;
}

circle {
    cursor: pointer;
}

img {
    width: 200px;
}

a {
    color: #FFF;
    font-weight: bold;
    display: block;
}

span {
    display: inline-block;
    margin-top: 5px;
    padding: 2px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
}

.html { background: #F16529; }
.css  { background: #1C88C7; }
.js   { background: #FCC700; }

.tooltip {
    position: absolute;
    visibility: hidden;
    background-color: #111;
    display: flex;
    font-family: sans-serif;
    max-width: 500px;
}

.tooltip div {
    padding: 10px;
}











.entry-form{
  font-family: "Open Sans";
  font-size: 1.0rem;
  color: black;
}

.col.s12 > .btn {
   width: 100%;
}

.display{
  position: absolute;
  top: 280px;
  left: 10px;
}

.v1 {
    border-left: 2px solid grey;
    float: left;
}

.grid {
  position: absolute;
  left: 225px;
  top: 90px;
}


.hr-grid {
  position: absolute;
  left: 180px;
  top: 135px;
}

.h1{
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}

.label-vertical{
  position: absolute;
  width: 200px;
  left: 0px;
  top: 122px;
  font-family: "Open Sans";
  font-size: 15px;
}

.label-horizontal{
  position: absolute;
  left: 125px;
  top: -40px;
  float: left;
  font-family: "Open Sans";
  font-size: 15px;
}

.label-h{
  float: left;
  width: 200px;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

.bubble{
  position: absolute;
  left: 160px;
  top: 115px;
  float: left;
}

.bubble:hover .tooltiptext{
  visibility: visible;
}

.bubble-box{
  position: absolute;
  top: 5px;
  left: 48px;
}

.button {
  display:block;
  border-radius: 50%;
}

.labels{
  font-family: 'Open Sans';
}

.horizontalCheckbox {
  display: inline-block;
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  flex: 1 0 auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.welcomeblock{
  position:relative;
}

.welcomeblock::after{
  content: "";
  background: url("/static/images/ucl.jpeg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
