{% extends 'layouts/base.html' %}

{% block content %}
  
    <!-- Page description -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-0">
        <div class="container-fluid">
            <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                <br><br><br>
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                    <div class="row">
                        <div class="col">
                        <span class="h2 font-weight-bold mb-0">Page Description</span>
                        </div>
                        <div class="col-auto">
                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                            <i class="fas fa-pen"></i>
                        </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 ">
                        <span class="text-wrap">
                            Select what bar chart you want to see.
                        </span>
                    </p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
<br></br>

<div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col">HA</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 1 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 2 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 3 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 4 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 5 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 6 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 7 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 8 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 9 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 10 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 11 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 12 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 13 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 14 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 15 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 16 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 17 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 18 </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 19 </a></td>
                    </tr>
                    
            </tbody>
          </table>
        </div>
  
{% endblock %}