{% extends 'layouts/base.html' %}

{% block content %}
  
    <!-- Page description -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-0">
        <div class="container-fluid">
            <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                <br><br><br>
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                    <div class="row">
                        <div class="col">
                        <span class="h2 font-weight-bold mb-0">Page Description</span>
                        </div>
                        <div class="col-auto">
                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                            <i class="fas fa-pen"></i>
                        </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 ">
                        <span class="text-wrap">
                            Select what bar chart you want to see.
                        </span>
                    </p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
<br></br>

<div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col">HA</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td><a href= {% url "HA1" %}> HA 1: Behavioural Science </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA2" %}> HA 2: Genetics </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA3" %}> HA 3: Biology </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA4" %}> HA 4: Neurology </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA5" %}> HA 5: Medical Imaging </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA6" %}> HA 6: Immunology & Inflammation </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA7" %}> HA 7: Epidemiology </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA8" %}> HA 8: Radiology </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA9" %}> HA 9: Neurodegenerative Diseases </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA10" %}> HA 10: Global Population & Public Health </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA11" %}> HA 11: Clinical & Movement Neurosciences </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA12" %}> HA 12: Neurogenetics </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA13" %}> HA 13: Neuroscience </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA14" %}> HA 14: Cardiology </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA15" %}> HA 15: Clinical & Educational & Experimental & Health Psychology </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA16" %}> HA 16: Ophthalmology </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA17" %}> HA 17: Sports & Excercise Medicine </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA18" %}> HA 18: Statistics </a></td>
                    </tr>
                    <tr>
                        <td><a href= {% url "HA19" %}> HA 19: Sociology </a></td>
                    </tr>
                    
            </tbody>
          </table>
        </div>
  
{% endblock %}