{% extends 'layouts/base.html' %}

{% block content %}
  
  <!-- Page description -->
  <div class="header bg-gradient-primary pb-8 pt-5 pt-md-0">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <br><br><br>
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="h2 font-weight-bold mb-0">Page Description</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-pen"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 ">
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Search Bar & Selector -->
  <div class="container-fluid mt--7">
    <form action="{% url 'universal_SVM' %}" method="GET">
      <div class="form-group mb-0">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" name="box" value="{{request.GET.box}}" placeholder="Paste any text for classification" type="text">
          <select name="sorting" class="form-select" aria-label="Default select example">
            {% for opt, val in form.items %}
              {% if val == "checked" %}
                  <option>{{ opt }}</option>
              {% endif %}
            {% endfor %}
            {% for opt, val in form.items %}
              {% if val == "" %}
                  <option>{{ opt }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    </form>
  </div>

  <body>    
  
  <br><br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="text-align: center" title="No Poverty" scope="col">SDG 1</th>
        <th style="text-align: center" title="Zero Hunger" scope="col">SDG 2</th>
        <th style="text-align: center" title="Good Health and Well-being" scope="col">SDG 3</th>
        <th style="text-align: center" title="Quality Education" scope="col">SDG 4</th>
        <th style="text-align: center" title="Gender Equality" scope="col">SDG 5</th>
        <th style="text-align: center" title="Clean Water and Sanitation" scope="col">SDG 6</th>
        <th style="text-align: center" title="Affordable and Clean Energy" scope="col">SDG 7</th>
        <th style="text-align: center" title="Decent Work and Economic Growth" scope="col">SDG 8</th>
        <th style="text-align: center" title="Industry, Innovation and Infrastructure" scope="col">SDG 9</th>
        <th style="text-align: center" title="Reduced Inequality" scope="col">SDG 10</th>
        <th style="text-align: center" title="Sustainable Cities and Communities" scope="col">SDG 11</th>
        <th style="text-align: center" title="Responsible Consumption and Production" scope="col">SDG 12</th>
        <th style="text-align: center" title="Climate Action" scope="col">SDG 13</th>
        <th style="text-align: center" title="Life Below Water" scope="col">SDG 14</th>
        <th style="text-align: center" title="Life on Land" scope="col">SDG 15</th>
        <th style="text-align: center" title="Peace and Justice Strong Institutions" scope="col">SDG 16</th>
        <th style="text-align: center" title="Partnerships to achieve the Goal" scope="col">SDG 17</th>
        <th style="text-align: center" title="Miscellaneous" scope="col">Misc</th>
        <th style="text-align: center" scope="col">Predicted</th>
      </tr>
    </thead>
    <tbody style="text-align: center; vertical-align: middle;">
      {% if data %}
        {% for sdg in data %}
          <td style="text-align: center">{{ sdg }}</td>
        {% endfor %}
        {% if Predicted %}
            <td style="text-align: center">{{ Predicted }}</td>
        {% else %}
            <td style="text-align: center">None</td>
        {% endif %}
      {% endif %}

    </tbody>
  </table>

  <br>
  {% if graphic != None%}
    <img src="data:image/png;base64,{{ graphic|safe }}">
  {% endif %}
  
{% endblock %}