
{% extends "base.html" %}
{% load static %}

{% block styles %}
   <link href="{% static 'css/styles.min.css' %}" rel="stylesheet"/>
   <link type="text/css" rel="stylesheet" href="/static/css/materialize.css"  media="screen,projection"/>
   {% endblock %}

{% block content %}



<br><br>
{% comment %} <a href="#" data-activates="slide-out" class="button-collapse waves-effect waves-light btn grey darken-4">Filter By</a> {% endcomment %}

{% comment %} <div>
  <form method="post" id="slide-out" class="side-nav">
    {% csrf_token %}
        {% for status in status_list %}
        <ul>
          <li>
            <input type="checkbox" value="{{ status }}" id="{{ status }}" name="status_checklist">
            <label  style="color: black;" for="{{ status }}">{{ status }}</label>&nbsp&nbsp
          </li>
        <ul>
        {% endfor %}
    <button class="waves-effect waves-light btn grey darken-1" type="submit">Search</button>
  </form>
</div> {% endcomment %}

<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
    $(".button-collapse").sideNav();
  });
</script>


<div class="display">

  <div class="label-horizontal">
    {% for color, specialty_dict in color_dict.items %}
      {% for specialty, numSpecialty in specialty_dict.items %}
        <div class="label-h" style="position: absolute; left: calc({{ numSpecialty }}* 45px);">{{ specialty.name }}</div>
      {% endfor %}
    {% endfor %}
  </div>

  <div class="label-vertical">
    {% for approach, numApproach in approach_dict.items %}
      <div style="position: absolute; top: calc({{ numApproach }} * 45px);">{{ approach.name }}</div>
    {% endfor %}
  </div>

  <div>
    <div class="hr-grid">
    {% for approach, numApproach in approach_dict.items %}
        <div class="h1" style="position: absolute; top: calc({{ numApproach }} * 45px); width: calc({{ horizontalLength }} * 45px);">
        </div>
    {% endfor %}
   </div>
  </div>

  <div class="grid">
    {% for color, specialty_dict in color_dict.items %}
       {% for specialty, numSpecialty in specialty_dict.items %}
         <div class="v1" style="position: absolute; left: calc({{ numSpecialty }} * 45px); height: calc({{ verticalLength }} * 45px);">
           </div>
     {% endfor %}
   {% endfor %}
 </div>


{% comment %} <div class="bubble-box">
  <div class="bubble">
   {% for typeObject, bubbleList in bubble_dict.items %}
      <div>
     <a href= "{% url 'searchBubble' typeObject.0.pk typeObject.1.pk %}" data-position="bottom" data-delay="50" data-tooltip="{{ typeObject.0 }} & {{ typeObject.1 }}" class="button tooltipped" style="background-color:{{bubbleList.3}}; position: absolute; left:calc({{bubbleList.0}}px); top:calc({{bubbleList.1}}px); width:{{bubbleList.2}}px; height: {{bubbleList.2}}px;"></a>
      </div>
    {% endfor %}

  </div>
</div> {% endcomment %}

{% comment %} {% for bubble, lst in bubble_dict.items %} 
  <div>
    <h4>{{ bubble }}</h4>
    <h4>{{ lst }}</h4>
    <h4>{{ bubble_dict.bubble }}</h4>
  </div>
{% endfor %} {% endcomment %}


<div class="bubble-box">
  <div class="bubble">
    {% for bubble, lst in bubble_dict.items %} 
      <div>
        <a href= "{% url 'searchBubbleAct' bubble.coordinate_approach.id bubble.coordinate_speciality.id %}" data-position="bottom" data-delay="50" class="button tooltipped" style="background-color:{{ bubble.color }}; position: absolute; left:calc({{ lst.0 }}px); top:calc({{ lst.1 }}px); width:{{ lst.2 }}px; height: {{ lst.2 }}px;"></a>
      </div>
    {% endfor %}
  </div>
</div>

</div>

  {% endblock %}
</html>
