{% extends 'base.html' %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'app' %}">Search Engine</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Export
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'export_modules_csv' %}">Export Modules to CSV</a>
                    <a class="dropdown-item" href="{% url 'export_publications_csv' %}">Export Publications to CSV</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'sdg' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SDG
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'sdg' %}" target="_blank">View Data</a>
                    <a class="dropdown-item" href="{% url 'universal_SVM' %}" target="_blank">SDG: SVM Universal</a>
                    <a class="dropdown-item" href="{% url 'sdgVisualisation' %}" target="_blank">SDG Visualizations</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'sdg' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        IHE
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'ihe' %}" target="_blank">View Data</a>
                    <a class="dropdown-item" href="{% url 'bubble_chart' %}" target="_blank">Bubble Chart</a>
                    <a class="dropdown-item" href="{% url 'iheVisualisation' %}" target="_blank">IHE Visualizations</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
    <br>
    <br>

    <form action="{% url 'app' %}" method="GET" value="{{ request.GET.q }}">
        <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search query"/> 
        <input type="submit" name="submit" value="Search"/> 

        <br><br>
        <form method="post" action="#">

            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" value="clicked" name="modBox" {{ form.modBox }}>
                <label class="btn btn-outline-primary" for="btncheck1">Modules</label>
                
                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" value="clicked" name="pubBox" {{ form.pubBox }}>
                <label class="btn btn-outline-primary" for="btncheck2">Publications</label>
            </div>
        </form>
    </form>

    <br>

    {% comment %} PUBLICATION DATA DISPLAY TABLE {% endcomment %}
    {% if form.pubBox == 'checked' %}
        <h3>Publications found: {{ len_pub }}</h3><br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Link</th>
                </tr>
            </thead>
            <tbody>
                {% for item in publications %}
                    <tr>
                        <td>{{ item.title  }}</td>
                        <td><a href="{{ item.get_absolute_url }}">More</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if publications.has_other_pages %}
            <ul class="pagination">
                {% if publications.has_previous %}
                    <li><a href="?pubPage={{ 1 }}&modPage={{ modules.number }}&{{ urlString }}">First...</a></li>&nbsp;&nbsp;&nbsp;
                    <li><a href="?pubPage={{ publications.previous_page_number }}&modPage={{ modules.number }}&{{ urlString }}">Previous</a></li>&nbsp;&nbsp;&nbsp;
                {% endif %}
                {% for i in publications.paginator.page_range %}
                    {% if i <= publications.number|add:5 and i >= publications.number|add:-5 %}
                        {% if publications.number == i %}
                            <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>&nbsp;&nbsp;&nbsp;
                        {% else %}
                            <li><a href="?pubPage={{ i }}&modPage={{ modules.number }}&{{ urlString }}">{{ i }}</a></li>&nbsp;&nbsp;&nbsp;
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if publications.has_next %}
                    <li><a href="?pubPage={{ publications.next_page_number }}&modPage={{ modules.number }}&{{ urlString }}">Next</a></li>&nbsp;&nbsp;&nbsp;
                    <li><a href="?pubPage={{ publications.paginator.num_pages }}&modPage={{ modules.number }}&{{ urlString }}">...Last ({{ publications.paginator.num_pages }})</a></li>
                {% endif %}
            </ul>
        {% endif %}
    {% endif %}

    <br>

    {% comment %} MODULE DATA DISPLAY TABLE {% endcomment %}
    {% if form.modBox == 'checked' %}
        <h3>Modules found: {{ len_mod }}</h3><br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Module Name</th>
                    <th scope="col">Module ID</th>
                    <th scope="col">Link</th>
                </tr>
            </thead>
            <tbody>
                {% for item in modules %}
                    <tr>
                        <td>{{ item.Module_Name  }}</td>
                        <td>{{ item.Module_ID }}</td>
                        <td><a href="{{ item.get_absolute_url }}">More</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if modules.has_other_pages %}
            <ul class="pagination">
                {% if modules.has_previous %}
                    <li><a href="?pubPage={{ publications.number }}&modPage={{ 1 }}&{{ urlString }}">First...</a></li>&nbsp;&nbsp;&nbsp;
                    <li><a href="?pubPage={{ publications.number }}&modPage={{ modules.previous_page_number }}&{{ urlString }}">Previous</a></li>&nbsp;&nbsp;&nbsp;
                {% endif %}
                {% for i in modules.paginator.page_range %}
                    {% if i <= modules.number|add:5 and i >= modules.number|add:-5 %}
                        {% if modules.number == i %}
                            <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>&nbsp;&nbsp;&nbsp;
                        {% else %}
                            <li><a href="?pubPage={{ publications.number }}&modPage={{ i }}&{{ urlString }}">{{ i }}</a></li>&nbsp;&nbsp;&nbsp;
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if modules.has_next %}
                        <li><a href="?pubPage={{ publications.number }}&modPage={{ modules.next_page_number }}&{{ urlString }}">Next</a></li>&nbsp;&nbsp;&nbsp;
                        <li><a href="?pubPage={{ publications.number }}&modPage={{ modules.paginator.num_pages }}&{{ urlString }}">...Last ({{ modules.paginator.num_pages }})</a></li>
                {% endif %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}