{% extends 'base.html' %}

{% block content %}
    <h1>Bubble Chart: Manual Insertion</h1>
    <br>

    <form method="POST" action="{% url 'manual_add' %}">
        {% csrf_token %}
        <ul class="list-group">
            <li class="list-group-item">Scopus ID: {{ form.author_id }}</li>
            <li class="list-group-item">Full Name: {{ form.fullName }}</li>
            <li class="list-group-item">Affiliation: {{ form.affiliation }}</li>
            <li class="list-group-item">Affiliation: {{ form.approach }}</li>
            <li class="list-group-item">Affiliation: {{ form.specialty }}</li>
        </ul>

        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}