{% extends 'base.html' %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'app' %}">Search Engine</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'sdg' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SDG
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'sdg' %}">View Data</a>
                    <a class="dropdown-item" href="{% url 'universal_SVM' %}">SDG: SVM Universal</a>
                    <a class="dropdown-item" href="{% url 'sdgVisualisation' %}" target="_blank">SDG Visualizations</a>
                    <a class="dropdown-item" href="{% url 'tableauVisualisation' %}" target="_blank">Tableau Visualizations</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'sdg' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        IHE
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'ihe' %}">View Data</a>
                    <a class="dropdown-item" href="{% url 'bubble_chart' %}" target="_blank">Bubble Chart</a>
                    <a class="dropdown-item" href="{% url 'bubble_chart_act' %}" target="_blank">Bubble Chart (Acct)</a>
                    <a class="dropdown-item" href="{% url 'iheVisualisation' %}" target="_blank">IHE Visualizations</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <br>
    
    <form action="{% url 'sdg' %}" method="GET" value="{{ request.GET.b }}">
        <input type="text" name="b" value="{{request.GET.q}}" placeholder="Search query"/> 
        <input type="submit" name="submit" value="Search"/>

        <br><br>
        <form method="POST" action="#">
             <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" value="clicked" name="modBox" {{ form.modBox }}>
                <label class="btn btn-outline-primary" for="btncheck1"> SDG Modules</label>
                
                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" value="clicked" name="pubBox" {{ form.pubBox }}>
                <label class="btn btn-outline-primary" for="btncheck2">SDG Publications</label>
            </div>
            <select name="sorting" class="form-select" aria-label="Default select example">
                {% for opt, val in form.items %}
                    {% if val == "selected" %}
                        <option>{{ opt }}</option>
                    {% endif %}
                {% endfor %}
                {% for opt, val in form.items %}
                    {% if val == "unselected" %}
                        <option>{{ opt }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </form>

    <br>  
    <br> 

    {% comment %} PUBLICATION DATA DISPLAY TABLE {% endcomment %}
    {% if form.pubBox == 'checked' %}
        <table class="table table-striped">
            <br><h3>Publications found: {{ lenPub }}</h3>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">DOI</th>
                    <th></th>
                    <th title="No Poverty" scope="col">SDG 1</th>
                    <th title="Zero Hunger" scope="col">SDG 2</th>
                    <th title="Good Health and Well-being" scope="col">SDG 3</th>
                    <th title="Quality Education" scope="col">SDG 4</th>
                    <th title="Gender Equality" scope="col">SDG 5</th>
                    <th title="Clean Water and Sanitation" scope="col">SDG 6</th>
                    <th title="Affordable and Clean Energy" scope="col">SDG 7</th>
                    <th title="Decent Work and Economic Growth" scope="col">SDG 8</th>
                    <th title="Industry, Innovation and Infrastructure" scope="col">SDG 9</th>
                    <th title="Reduced Inequality" scope="col">SDG 10</th>
                    <th title="Sustainable Cities and Communities" scope="col">SDG 11</th>
                    <th title="Responsible Consumption and Production" scope="col">SDG 12</th>
                    <th title="Climate Action" scope="col">SDG 13</th>
                    <th title="Life Below Water" scope="col">SDG 14</th>
                    <th title="Life on Land" scope="col">SDG 15</th>
                    <th title="Peace and Justice Strong Institutions" scope="col">SDG 16</th>
                    <th title="Partnerships to achieve the Goal" scope="col">SDG 17</th>
                    <th title="Miscellaneous" scope="col">Misc</th>
                    <th scope="col">Predicted</th>
                    <th scope="col">Validation Similarity</th>
                </tr>
            </thead>
            <tbody style="text-align: center; vertical-align: middle;">
                {% for item in publications %}
                    {% if item.assignedSDG %}
                        <tr>
                            {% if item.assignedSDG != None %}
                                <td style="border-right: 1pt solid black; border-left: 1pt solid black fill; background-color:rgba({{item.assignedSDG.Validation.ColorRed}}, {{item.assignedSDG.Validation.ColorGreen}}, {{item.assignedSDG.Validation.ColorBlue}}, 1);"></td>
                            {% else %}
                                <td style="border-right: 1pt solid black; border-left: 1pt solid black fill; background-color:rgba(0, 0, 0, 1);"></td>
                            {% endif %}
                            <td><a href="{{ item.get_absolute_url }}">{{ item.data.DOI|truncatechars:10 }}</a></td>
                            <td>String<br>Model</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.0.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.0 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.1.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.1 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.2.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.2 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.3.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.3 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.4.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.4 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.5.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.5 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.6.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.6 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.7.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.7 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.8.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.8 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.9.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.9 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.10.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.10 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.11.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.11 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.12.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.12 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.13.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.13 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.14.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.14 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.15.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.15 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.16.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.16 }}</td>
                            <td>{{ item.assignedSDG.Validation.StringCount.17.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.17 }}</td>
                            <td>{{ item.assignedSDG.StringResult }} <br> {{ item.assignedSDG.SVM_Prediction }}</td>
                            {% comment %} {% if item.assignedSDG.ModelResult != ""%}
                                {% if item.assignedSDG.ModelResult == "18"%}
                                    <td style="border: solid 0 #060; border-left-width:2px; border-right-width:2px; text-align: center">Misc<br>
                                        {% if item.assignedSDG.StringResult != ""%}
                                            {% if item.assignedSDG.StringResult == "18"%}
                                                Misc
                                            {% else %}
                                                {{ item.assignedSDG.StringResult }}
                                            {% endif %}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td style="border: solid 0 #060; border-left-width:2px; border-right-width:2px; text-align: center">{{ item.assignedSDG.ModelResult }}<br>
                                        {% if item.assignedSDG.StringResult != ""%}
                                            {% if item.assignedSDG.StringResult == "18"%}
                                                Misc
                                            {% else %}
                                                {{ item.assignedSDG.StringResult }}
                                            {% endif %}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% else %}
                                <td style="border: solid 0 #060; border-left-width:2px; border-right-width:2px; text-align: center">None<br>
                                    {% if item.assignedSDG.StringResult != ""%}
                                        {% if item.assignedSDG.StringResult == "18"%}
                                            Misc
                                        {% else %}
                                            {{ item.assignedSDG.StringResult }}
                                        {% endif %}
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                            {% endif %}
                             {% endcomment %}
                            <td>{{ item.assignedSDG.Validation.Similarity|floatformat:"2" }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        {% if publications.has_other_pages %}
            <ul class="pagination">
                {% if publications.has_previous %}
                    <li><a href="?pubPage={{ 1 }}&modPage={{ modules.number }}&ihePage={{ ihes.number }}&{{ urlString }}">First...</a></li>&nbsp;&nbsp;&nbsp;
                    <li><a href="?pubPage={{ publications.previous_page_number }}&modPage={{ modules.number }}&ihePage={{ ihes.number }}&{{ urlString }}">Previous</a></li>&nbsp;&nbsp;&nbsp;
                {% endif %}
                {% for i in publications.paginator.page_range %}
                    {% if i <= publications.number|add:5 and i >= publications.number|add:-5 %}
                        {% if publications.number == i %}
                            <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>&nbsp;&nbsp;&nbsp;
                        {% else %}
                            <li><a href="?pubPage={{ i }}&modPage={{ modules.number }}&ihePage={{ ihes.number }}&{{ urlString }}">{{ i }}</a></li>&nbsp;&nbsp;&nbsp;
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if publications.has_next %}
                    <li><a href="?pubPage={{ publications.next_page_number }}&modPage={{ modules.number }}&ihePage={{ ihes.number }}&{{ urlString }}">Next</a></li>&nbsp;&nbsp;&nbsp;
                    <li><a href="?pubPage={{ publications.paginator.num_pages }}&modPage={{ modules.number }}&ihePage={{ ihes.number }}&{{ urlString }}">...Last ({{ publications.paginator.num_pages }})</a></li>
                {% endif %}
            </ul>
        {% endif %}
    {% endif %}

    {% comment %} MODULE DATA DISPLAY TABLE {% endcomment %}
    {% if form.modBox == 'checked' %}
        <table class="table table-striped">
            <br><h3>Modules found: {{ lenMod }}</h3><br>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Module ID</th>
                    <th></th>
                    <th scope="col">SDG 1</th>
                    <th scope="col">SDG 2</th>
                    <th scope="col">SDG 3</th>
                    <th scope="col">SDG 4</th>
                    <th scope="col">SDG 5</th>
                    <th scope="col">SDG 6</th>
                    <th scope="col">SDG 7</th>
                    <th scope="col">SDG 8</th>
                    <th scope="col">SDG 9</th>
                    <th scope="col">SDG 10</th>
                    <th scope="col">SDG 11</th>
                    <th scope="col">SDG 12</th>
                    <th scope="col">SDG 13</th>
                    <th scope="col">SDG 14</th>
                    <th scope="col">SDG 15</th>
                    <th scope="col">SDG 16</th>
                    <th scope="col">SDG 17</th>
                    <th scope="col">Misc</th>
                    <th scope="col">Predictions</th>
                    <th scope="col">Validation Similarity</th>
                </tr>
            </thead>
            <tbody style="text-align: center; vertical-align: middle;">
                {% for item in modules %}
                    <tr style="border-bottom: 1pt solid black">
                        {% if item.assignedSDG != None %}
                            <td style="border-right: 1pt solid black; border-left: 1pt solid black fill; background-color:rgba({{item.assignedSDG.Validation.ColorRed}}, {{item.assignedSDG.Validation.ColorGreen}}, {{item.assignedSDG.Validation.ColorBlue}}, 1);"></td>
                        {% else %}
                            <td style="border-right: 1pt solid black; border-left: 1pt solid black fill; background-color:rgba(0, 0, 0, 1);"></td>
                        {% endif %}
                        <td><a href="{{ item.get_absolute_url }}">{{ item.Module_ID }}</a></td>
                        <td>String<br>Model</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.0.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.0 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.1.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.1 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.2.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.2 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.3.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.3 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.4.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.4 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.5.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.5 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.6.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.6 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.7.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.7 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.8.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.8 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.9.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.9 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.10.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.10 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.11.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.11 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.12.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.12 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.13.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.13 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.14.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.14 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.15.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.15 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.16.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.16 }}</td>
                        <td>{{ item.assignedSDG.Validation.StringCount.17.1|floatformat:"1" }} <br> {{ item.assignedSDG.SVM.17 }}</td>
                        <td>{{ item.assignedSDG.StringResult }} <br> {{ item.assignedSDG.SVM_Prediction }}</td>
                        {% comment %} {% if item.assignedSDG.ModelResult != ""%}
                            {% if item.assignedSDG.ModelResult == "18"%}
                                <td style="border: solid 0 #060; border-left-width:2px; border-right-width:2px; text-align: center">Misc<br>
                                    {% if item.assignedSDG.StringResult != ""%}
                                        {% if item.assignedSDG.StringResult == "18"%}
                                            Misc
                                        {% else %}
                                            {{ item.assignedSDG.StringResult }}
                                        {% endif %}
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                            {% else %}
                                <td style="border: solid 0 #060; border-left-width:2px; border-right-width:2px; text-align: center">{{ item.assignedSDG.ModelResult }}<br>
                                    {% if item.assignedSDG.StringResult != ""%}
                                        {% if item.assignedSDG.StringResult == "18"%}
                                            Misc
                                        {% else %}
                                            {{ item.assignedSDG.StringResult }}
                                        {% endif %}
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% else %}
                            <td style="border: solid 0 #060; border-left-width:2px; border-right-width:2px; text-align: center">None<br>
                                {% if item.assignedSDG.StringResult != ""%}
                                    {% if item.assignedSDG.StringResult == "18"%}
                                        Misc
                                    {% else %}
                                        {{ item.assignedSDG.StringResult }}
                                    {% endif %}
                                {% else %}
                                    None
                                {% endif %}
                            </td>
                        {% endif %} {% endcomment %}
                        <td>{{ item.assignedSDG.Validation.Similarity|floatformat:"2" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if modules.has_other_pages %}
            <ul class="pagination">
                {% if modules.has_previous %}
                    <li><a href="?pubPage={{ publications.number }}&modPage={{ 1 }}&ihePage={{ ihes.number }}&{{ urlString }}">First...</a></li>&nbsp;&nbsp;&nbsp;
                    <li><a href="?pubPage={{ publications.number }}&modPage={{ modules.previous_page_number }}&ihePage={{ ihes.number }}&{{ urlString }}">Previous</a></li>&nbsp;&nbsp;&nbsp;
                {% endif %}
                {% for i in modules.paginator.page_range %}
                    {% if i <= modules.number|add:5 and i >= modules.number|add:-5 %}
                        {% if modules.number == i %}
                            <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>&nbsp;&nbsp;&nbsp;
                        {% else %}
                            <li><a href="?pubPage={{ publications.number }}&modPage={{ i }}&ihePage={{ ihes.number }}&{{ urlString }}">{{ i }}</a></li>&nbsp;&nbsp;&nbsp;
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if modules.has_next %}
                        <li><a href="?pubPage={{ publications.number }}&modPage={{ modules.next_page_number }}&ihePage={{ ihes.number }}&{{ urlString }}">Next</a></li>&nbsp;&nbsp;&nbsp;
                        <li><a href="?pubPage={{ publications.number }}&modPage={{ modules.paginator.num_pages }}&ihePage={{ ihes.number }}&{{ urlString }}">...Last ({{ modules.paginator.num_pages }})</a></li>
                {% endif %}
            </ul>
        {% endif %}
    {% endif %}

{% endblock %}