{% extends "base.html" %}
{% load static %}
{% block content %}

<script>
	$(document).ready(function(){
		$('select').material_select();
	});
</script>

<form method="post">
	{% csrf_token %}
	{% for field in form %}
			{{ field.label_tag }}
			{{ field }}
	{% endfor %}

	<button class="waves-effect waves-light btn grey darken-4" type="submit">Search</button>
</form>

<div class="row">
	{% if check %}
			<table class="bordered stripped highlight responsive-table">
			    <tr>
			        <th> Full Name</th>
			        <th> Email</th>
			        <th>Department</th>
			        <th>IRIS Link</th>
			    </tr>
			    {% for entry in entry_list %}
			    <tr>
			        <td>{{ entry.fullName }}</td>
			      	<td>{{ entry.email }}</td>
			      	<td>{{ entry.faculty }}</td>
			        <td>
								<a href='{{ entry.irisLink }}' target="_blank">{{ entry.irisLink }}</a>
							</td>

			    </tr>
	    		{% endfor %}
		</table>
	{% else %}
		<p>choose the fields you would like to search</p>
	{% endif %}
</div>
{% endblock %}
