{% extends "base.html" %}
{% load static %}


{% block content %}
	<script>
		$(document).ready(function(){
			$('select').material_select();
		});
	</script>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a style="font-weight: normal" class="nav-link" href="{% url 'app' %}">Search Engine</a>
				</li>
				<li class="nav-item dropdown">
					<a style="font-weight: normal" class="nav-link dropdown-toggle" href="{% url 'sdg' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						SDG
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a style="font-weight: normal" class="dropdown-item" href="{% url 'sdg' %}">View Data</a>
					<a style="font-weight: normal" class="dropdown-item" href="{% url 'universal_SVM' %}">SDG: SVM Universal</a>
					<a style="font-weight: normal" class="dropdown-item" href="{% url 'sdgVisualisation' %}" target="_blank">SDG Visualizations</a>
					<a style="font-weight: normal" class="dropdown-item" href="{% url 'tableauVisualisation' %}" target="_blank">Tableau Visualizations</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a style="font-weight: normal" class="nav-link dropdown-toggle" href="{% url 'sdg' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						IHE
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a style="font-weight: normal" class="dropdown-item" href="{% url 'ihe' %}" target="_blank">View Data</a>
					<a style="font-weight: normal" class="dropdown-item" href="{% url 'bubble_chart_act' %}" target="_blank">Bubble Chart (Acct)</a>
					<a style="font-weight: normal" class="dropdown-item" href="{% url 'iheVisualisation' %}" target="_blank">IHE Visualizations</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>

	<br>  
	<br>

	<form method="POST" action="#">
		{% csrf_token %}
		<select name="author_selection" class="form-select" aria-label="Default select example">
			{% for opt, val in form.items %}
				{% if val == "selected" %}
					<option>{{ opt }}</option>
				{% endif %}
			{% endfor %}
			{% for opt, val in form.items %}
				{% if val == "unselected" %}
					<option>{{ opt }}</option>
				{% endif %}
			{% endfor %}
		</select>
		<br>
		<input type="submit" name="submit" value="Search"/>
	</form>

	<br>  
	<br>

	<h3>Found {{ num_of_people }} authors</h3>

	<br>

	<table class="table table-striped">
		<tr>
			<th scope="col">Author ID</th>
			<th scope="col">Full Name</th>
			<th scope="col">Affiliation ID</th>
			<th scope="col">Affiliation</th>
			<th scope="col">Approach</th>
			<th scope="col">Speciality</th>
			<th scope="col">Scopus Link to Publication</th>
		</tr>
		{% for entry in entry_list %}
			<tr>
				<td>{{ entry }}</td>
				<td>{{ entry.fullName }}</td>
				<td>{{ entry.affiliationID }}</td>
				<td>{{ entry.affiliation }}</td>
				<td>{{ assignments.0 }}</td>
				<td>{{ assignments.1 }}</td>
				<td><a href='{{ entry.scopusLink }}' target="_blank">Link</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
