{% extends 'base.html' %}

{% block content %}

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'app' %}">Search Engine</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="{% url 'sdg' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      SDG
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'sdg' %}">View Data</a>
                  <a class="dropdown-item" href="{% url 'universal_SVM' %}">SDG: SVM Universal</a>
                  <a class="dropdown-item" href="{% url 'sdgVisualisation' %}" target="_blank">SDG Visualizations</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="{% url 'sdg' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      IHE
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'ihe' %}">View Data</a>
                  <a class="dropdown-item" href="{% url 'bubble_chart' %}" target="_blank">Bubble Chart</a>
                  <a class="dropdown-item" href="{% url 'iheVisualisation' %}" target="_blank">IHE Visualizations</a>
                  </div>
              </li>

          </ul>
      </div>
    </nav>
  
  <br><br>

  <form action="{% url 'universal_SVM' %}" method="GET">
    <select name="sorting" class="form-select" aria-label="Default select example">
      {% for opt, val in form.items %}
        {% if val == "checked" %}
            <option>{{ opt }}</option>
        {% endif %}
      {% endfor %}
      {% for opt, val in form.items %}
        {% if val == "" %}
            <option>{{ opt }}</option>
        {% endif %}
      {% endfor %}
    </select>

    <br>

    <textarea style="width: 100%" name="box" id="w3review" rows="4" cols="50" placeholder="Search query"></textarea>
    <button class="btn btn-primary" type="submit" value='Search' name="submit">Analyse</button>
  </form> 
  
  <br><br>

  <table class="table table-striped">
      <thead>
        <tr>
          <th style="text-align: center" title="No Poverty" scope="col">SDG 1</th>
          <th style="text-align: center" title="Zero Hunger" scope="col">SDG 2</th>
          <th style="text-align: center" title="Good Health and Well-being" scope="col">SDG 3</th>
          <th style="text-align: center" title="Quality Education" scope="col">SDG 4</th>
          <th style="text-align: center" title="Gender Equality" scope="col">SDG 5</th>
          <th style="text-align: center" title="Clean Water and Sanitation" scope="col">SDG 6</th>
          <th style="text-align: center" title="Affordable and Clean Energy" scope="col">SDG 7</th>
          <th style="text-align: center" title="Decent Work and Economic Growth" scope="col">SDG 8</th>
          <th style="text-align: center" title="Industry, Innovation and Infrastructure" scope="col">SDG 9</th>
          <th style="text-align: center" title="Reduced Inequality" scope="col">SDG 10</th>
          <th style="text-align: center" title="Sustainable Cities and Communities" scope="col">SDG 11</th>
          <th style="text-align: center" title="Responsible Consumption and Production" scope="col">SDG 12</th>
          <th style="text-align: center" title="Climate Action" scope="col">SDG 13</th>
          <th style="text-align: center" title="Life Below Water" scope="col">SDG 14</th>
          <th style="text-align: center" title="Life on Land" scope="col">SDG 15</th>
          <th style="text-align: center" title="Peace and Justice Strong Institutions" scope="col">SDG 16</th>
          <th style="text-align: center" title="Partnerships to achieve the Goal" scope="col">SDG 17</th>
          <th style="text-align: center" title="Miscellaneous" scope="col">Misc</th>
          <th style="text-align: center" scope="col">Predicted</th>
        </tr>
      </thead>
      <tbody style="text-align: center; vertical-align: middle;">
        {% if data %}
          {% for sdg in data %}
            <td style="text-align: center">{{ sdg }}</td>
          {% endfor %}
          {% if Predicted %}
              <td style="text-align: center">{{ Predicted }}</td>
          {% else %}
              <td style="text-align: center">None</td>
          {% endif %}
        {% endif %}

      </tbody>
  </table>

  <br>

  {% comment %} {% load static %} {% endcomment %}
  {% comment %} {% load cache_bust %} {% endcomment %}
  {% comment %} <img style="width: 100%;" alt="Image description" src="{% static 'images/foo.png' %}"/> {% endcomment %}
  {% comment %} <img style="width: 100%;" alt="Image description" src="images/foo.png"/> {% endcomment %}
  {% comment %} <img src="data:png;base64,{{image}}" /> {% endcomment %}
  {% comment %} <img style="width: 100%;" alt="Image description" src="media/foo.png"/> {% endcomment %}
  {% if graphic != None%}
    <img src="data:image/png;base64,{{ graphic|safe }}">
  {% endif %}
  
{% endblock %}