{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Hello World!</h1>
    <head>
        {% comment %} <meta charset="UTF-8" /> {% endcomment %}
        {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {% endcomment %}
        {% comment %} <title>💭 Bubble chart with D3.js</title>{% endcomment %}
        <link rel="stylesheet" href="/static/css/styles.css"/> 
    </head>
    <body style="margin-left:auto;margin-right:auto;text-align:center">
        
        <svg id="bubble-chart"></svg>
        <div class="tooltip">
            <img alt="" />
            <div>
                <a></a>
                <span></span>
            </div>
        </div>

        <form action="{% url 'tableauVisualisation' %}" method="GET" value="{{ request.GET.radios }}">
            <br><br>
            <form method="POST" action="#">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="sdg_bubble" {{ radios.value1 }}>
                    <label class="form-check-label" for="exampleRadios1">
                        SDG Bubble
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="department_sdg_bubble" {{ radios.value2 }}>
                    <label class="form-check-label" for="exampleRadios2">
                        Department SDG Bubble
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="faculty_sdg_bubble" {{ radios.value3 }}>
                    <label class="form-check-label" for="exampleRadios2">
                        Faculty SDG Bubble
                    </label>
                </div>
                <br>
                <input type="submit" name="submit" value="View"/> 
            </form>
            <script src="https://d3js.org/d3.v6.js"></script>
            {% if selector == "modules" %}
                <script type="text/javascript">
                    const file = 'static/js/bubble.json';
                    const width = window.innerWidth;
                    const height = window.innerHeight;
                    const colors = {
                        1: '#E5243B',
                        2: '#DDA63A',
                        3: '#4C9F38',
                        4: '#C5192D',
                        5: '#FF3A21',
                        6: '#26BDE2',
                        7: '#FCC30B',
                        8: '#A21942',
                        9: '#FD6925',
                        10: '#DD1367',
                        11: '#FD9D24',
                        12: '#BF8B2E',
                        13: '#3F7E44',
                        14: '#0A97D9',
                        15: '#56C02B',
                        16: '#00689D',
                        17: '#19486A',
                        18: '#CCCC00',
                    };

                    const generateChart = data => {
                        const bubble = data => d3.pack()
                            .size([width, height])
                            .padding(2)(d3.hierarchy({ children: data }).sum(d => d.Number_Students));

                        const svg = d3.select('#bubble-chart')
                            .style('width', width)
                            .style('height', height);
                        
                        const root = bubble(data);
                        // const tooltip = d3.select('.tooltip');
                        var tooltip = d3.select("body")
                            .append("div")
                            .style("position", "absolute")
                            .style("z-index", "10")
                            .style("margin-left", "2%")
                            .style("background", "#c8c8c8")
                            .style("visibility", "hidden")
                            .text("");

                        const node = svg.selectAll()
                            .data(root.children)
                            .enter().append('g')
                            .attr('transform', `translate(${width / 2}, ${height / 2})`);
                        
                        const circle = node.append('circle')
                            .style('fill', d => colors[d.data.SDG])
                            .on('mouseover', function (e, d) {
                                // tooltip.select('img').attr('src', d.data.img);
                                // tooltip.select('a').attr('href', d.data.link).text(d.data.name);
                                tooltip.text("Number of students:" + d.data.Number_Students);
                                tooltip.style('visibility', 'visible');

                                d3.select(this).style('stroke', '#222');
                            })
                            .on('mousemove', e => tooltip.style('top', `${e.pageY}px`)
                                                        .style('left', `${e.pageX + 10}px`))
                            .on('mouseout', function () {
                                d3.select(this).style('stroke', 'none');
                                return tooltip.style('visibility', 'hidden');
                            })
                            // .on('click', (e, d) => window.open(d.data.link));
                        
                        const label = node.append('text')
                            .attr('dy', 2)
                            .text(d => d.data.SDG.substring(0, d.r / 3));

                        node.transition()
                            .ease(d3.easeExpInOut)
                            .duration(1000)
                            .attr('transform', d => `translate(${d.x}, ${d.y})`);
                        
                        circle.transition()
                            .ease(d3.easeExpInOut)
                            .duration(1000)
                            .attr('r', d => d.r);
                        
                        label.transition()
                            .delay(700)
                            .ease(d3.easeExpInOut)
                            .duration(1000)
                            .style('opacity', 1)
                    };

                    (async () => {
                        data = await d3.json(file).then(data => data);
                        generateChart(data);
                    })();
                </script>
            {% endif %}
            
            {% if selector == "departments" %}
                <script type="text/javascript">
                    const file = 'static/js/bubble.json';
                    const width = window.innerWidth;
                    const height = window.innerHeight;
                    const colors = {{ colours|safe }}
                    console.log(colors)

                    const generateChart = data => {
                        const bubble = data => d3.pack()
                            .size([width, height])
                            .padding(2)(d3.hierarchy({ children: data }).sum(d => d.Number_Students));

                        const svg = d3.select('#bubble-chart')
                            .style('width', width)
                            .style('height', height);
                        
                        const root = bubble(data);
                        // const tooltip = d3.select('.tooltip');
                        var tooltip = d3.select("body")
                            .append("div")
                            .style("position", "absolute")
                            .style("z-index", "10")
                            .style("margin-left", "2%")
                            .style("background", "#c8c8c8")
                            .style("visibility", "hidden")
                            .text("");

                        const node = svg.selectAll()
                            .data(root.children)
                            .enter().append('g')
                            .attr('transform', `translate(${width / 2}, ${height / 2})`);
                        
                        const circle = node.append('circle')
                            .style('fill', d => colors[d.data.Department])
                            .on('mouseover', function (e, d) {
                                // tooltip.select('img').attr('src', d.data.img);
                                // tooltip.select('a').attr('href', d.data.link).text(d.data.name);
                                tooltip.text("Number of students:" + d.data.Number_Students);
                                tooltip.style('visibility', 'visible');

                                d3.select(this).style('stroke', '#222');
                            })
                            .on('mousemove', e => tooltip.style('top', `${e.pageY}px`)
                                                        .style('left', `${e.pageX + 10}px`))
                            .on('mouseout', function () {
                                d3.select(this).style('stroke', 'none');
                                return tooltip.style('visibility', 'hidden');
                            })
                            // .on('click', (e, d) => window.open(d.data.link));
                        
                        const label = node.append('text')
                            .attr('dy', 2)
                            .text(d => d.data.Department.substring(0, d.r / 3));

                        node.transition()
                            .ease(d3.easeExpInOut)
                            .duration(1000)
                            .attr('transform', d => `translate(${d.x}, ${d.y})`);
                        
                        circle.transition()
                            .ease(d3.easeExpInOut)
                            .duration(1000)
                            .attr('r', d => d.r);
                        
                        label.transition()
                            .delay(700)
                            .ease(d3.easeExpInOut)
                            .duration(1000)
                            .style('opacity', 1)
                    };

                    (async () => {
                        data = await d3.json(file).then(data => data);
                        generateChart(data);
                    })();
                </script>
            {% endif %}
            {% if selector == "faculties" %}
                <p>Three</p>
            {% endif %}
        </form>

    </body>
{% endblock %}